    body {
      width: 500px;
      height: 500px;
      font-family: sans-serif;
      padding: 10px;
    }
    h1 {
      color: #333;
      font-size: 1.2em;
    }
    #feedUser {
      position: relative;
      color: rgb(0, 0, 0);
      margin-top: 10px;
      background-color: rgba(238, 0, 255, 0.916);
      text-align: center;
      left: 425px;
      top: 175px;
    }
    #next {
      position: relative;
      left: 330px;
      top: 200px;
    }
    #dirtyBoy {
      position: absolute;
      width: 200px;
      height: 200px;
      bottom: 10px;      /* sits near the bottom */
      left: 150px;       /* center-ish */
      background-image: url('drity2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #message {
      display: none;
      margin-top: 10px;
      color: rgb(3, 255, 213);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381) 
    }
    #text {
      display: none;
      margin-top: 10px;
      color: rgb(255, 3, 3);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381);
    }
    #pizza {
      position: absolute;
      width: 80px;
      height: 80px;
      top: -100px;       /* start off-screen above */
      left: 210px;       /* roughly over his mouth */
      background-image: url('pizza.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @keyframes walk {
        from {
            background-position: 0px;
        }
        to {
            background-position: -512px; /* (Frame width * number of frames) */
        }
    }