    body {
      width: 500px;
      height: 500px;
      font-family: sans-serif;
      padding: 10px;
    }
    h1 {
      color: #333;
      font-size: 1.2em;
    }
    #feedUser {
      position: relative;
      left: 425px;
      top: 175px;
    }
    #next {
      position: relative;
      left: 330px;
      top: 200px;
    }
    .sprite {
      width: 200px;        /* Set width and height to match your image */
      height: 200px;
      position: relative;
      left: 100px;
      top: 240px;
      background-image: url('drity2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #message {
      display: none;
      margin-top: 10px;
      color: rgb(3, 255, 213);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381) 
    }
    #text {
      display: none;
      margin-top: 10px;
      color: rgb(255, 3, 3);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381);
    }