    body {
      width: 500px;
      height: 500px;
      font-family: sans-serif;
      padding: 10px;
    }
    h1 {
      color: #333;
      font-size: 1.2em;
    }
    #feedUser {
      position: relative;
      color: rgb(0, 0, 0);
      margin-top: 10px;
      background-color: rgba(238, 0, 255, 0.916);
      text-align: center;
      left: 425px;
      top: 175px;
    }
    #next {
      position: relative;
      left: 330px;
      top: 200px;
    }
    .sprite {
      width: 200px;        /* Set width and height to match your image */
      height: 200px;
      position: relative;
      left: 100px;
      top: 240px;
      background-image: url('drity2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #message {
      display: none;
      margin-top: 10px;
      color: rgb(3, 255, 213);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381) 
    }
    #text {
      display: none;
      margin-top: 10px;
      color: rgb(255, 3, 3);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.381);
    }
        .sprite {
        width: 64px; /* Width of a single frame */
        height: 64px; /* Height of a single frame */
        background-image: url('https://png.pngtree.com/png-clipart/20211116/original/pngtree-pizza-pixel-png-image_6940675.png');
        background-position: 0 0; /* Initial position */
        animation: walk 1s steps(8) infinite; /* Example animation */
    }

    @keyframes walk {
        from {
            background-position: 0px;
        }
        to {
            background-position: -512px; /* (Frame width * number of frames) */
        }
    }