    body {
      width: 500px;
      height: 500px;
      font-family: sans-serif;
      padding: 10px;
    }
    h1 {
      color: #333;
      font-size: 1.2em;
    }
    #feedUser {
      position: relative;
      color: rgb(0, 0, 0);
      margin-top: 10px;
      background-color: rgba(238, 0, 255, 0.916);
      text-align: center;
      left: 425px;
      top: 175px;
    }
    #next {
      position: relative;
      left: 330px;
      top: 200px;
    }
    #dirtyBoy {
      position: absolute;
      width: 200px;
      height: 200px;
      bottom: 60px;      /* sits near the bottom */
      left: 120px;       /* center-ish */
      background-image: url('drity2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #message {
      display: none;
      margin-top: 10px;
      color: rgb(255, 255, 255);
      position: relative;
      left: 200px;
      top: 300px;
      width: 80px;
      font-size: 20px;
      text-align: center;
      background-color: rgba(149, 42, 42, 0) 
    }
    #hungryMessage {
  display: none;
  position: relative;
  top: 20px;
  left: 200px;
  width: 120px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  border-radius: 6px;
}
    #text {
      display: none;
      margin-top: 10px;
      color: rgb(0, 0, 0);
      position: relative;
      left: 200px;
      top: 50px;
      width: 100px;
      font-size: 20px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
    }
    #pizza {
      position: absolute;
      width: 80px;
      height: 80px;
      top: -100px;       /* start off-screen above */
      left: 210px;       /* roughly over his mouth */
      background-image: url('pizza.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @keyframes walk {
        from {
            background-position: 0px;
        }
        to {
            background-position: -512px; /* (Frame width * number of frames) */
        }
    }